<a href="https://colab.research.google.com/github/adindatsabita/adindatsabita.github.io/blob/master/Topic_3_4_Adinda_Tsabita_Salma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [32]:
nama=""
print(nama)

2. > Create a variable containing your name (Points : 5)

In [44]:
nama="Adinda Tsabita Salma"
print(nama)

Adinda Tsabita Salma

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [45]:
kelas=['papan tulis','kursi','meja','spidol','lcd']
print(kelas)

['papan tulis', 'kursi', 'meja', 'spidol', 'lcd']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [5]:
student_dict={
              'nama':'bita',
              'umur':'21'
              }

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [52]:
price=12000
quantity_sold=20
discount=price*0.1
print(discount)

1200.0

In [53]:
price=12000
quantity_sold=20
discount=1200

total=price-discount
total

10800

# List Data Operation

5. > Follow the instructions in the code blocks

In [25]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries=['Indonesia','Malaysia','Singapore','Thailand','Korea_Selatan','Rusia','Prancis']

In [26]:
# Get 4 countries from the first index of the list (Points : 5)

countries[:4]

['Indonesia', 'Malaysia', 'Singapore', 'Thailand']

In [4]:
# Append new country to the list (Points : 5)
countries=['Indonesia','Malaysia','Singapore','Thailand','Korea_Selatan','Rusia','Prancis']
countries.append("Italia")
print(countries)

['Indonesia', 'Malaysia', 'Singapore', 'Thailand', 'Korea_Selatan', 'Rusia', 'Prancis', 'Italia']

In [43]:
# Drop one country from the list (Points : 5)
countries.remove("Thailand")
print(countries)

['Indonesia', 'Malaysia', 'Singapore', 'Korea_Selatan', 'Rusia', 'Prancis', 'Italia']

In [40]:
# Get country in the last index (Points : 5)
countries=['Indonesia','Malaysia','Singapore','Thailand','Korea_Selatan','Rusia','Prancis']
print(countries[6])

Prancis

6. >  Follow the instructions below

In [14]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [25]:
# Print all keys in customer (Points : 5)

customer_dict={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [15]:
# Print all customer names (Points : 5)

customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

In [16]:
# Print the first customer name (Points : 5)

customer['name'][1]

'Eka'

In [26]:
# Drop "age" key from the dictionary (Points : 5)

del customer_dict['age']

In [27]:
customer_dict

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [33]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


customer['gender']=['Male','Female','Female','Male']

In [35]:
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}